@import "tailwindcss";

@theme {
  /* COLORS */
  --color-neutral-900: rgb(16, 16, 16);
  --color-neutral-800: rgb(31, 31, 31);
  --color-neutral-700: rgb(49, 49, 49);
  --color-neutral-600: rgb(60, 59, 64);
  --color-neutral-500: rgb(103, 103, 103);
  --color-neutral-400: rbga(137, 138, 139);
  --color-neutral-300: rgb(183, 183, 183);
  --color-neutral-0: rgb(255, 255, 255);

  --color-orange-800: rgb(144, 48, 20);
  --color-orange-700: rgb(185, 43, 9);
  --color-orange-500: rgb(235, 67, 14);
  --color-orange-400: rgb(255, 87, 34);

  --color-green-900: rgb(26, 61, 43);
  --color-green-500: rgb(74, 222, 128);

  --color-red-500: rgb(239, 68, 68);

  /* FONTS */
  --font-inter: "Inter", sans-serif;
  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;

  /* SPACING */
  --spacing-0: 0px;
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 10px;
  --spacing-6: 12px;
  --spacing-7: 16px;
  --spacing-8: 20px;
  --spacing-9: 24px;
  --spacing-10: 32px;
  --spacing-11: 40px;
  --spacing-12: 48px;
  --spacing-13: 64px;
  --spacing-14: 80px;
  --spacing-15: 96px;
  --spacing-16: 112px;
  --spacing-17: 128px;
  --spacing-18: 140px;

  /* BORDER RADIUS */
  --radius-none: 0px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 999px;
}

@utility text-1 {
  @apply font-bricolage-grotesque;
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -2px;
}

@utility text-1-mobile {
  @apply font-bricolage-grotesque;
  font-weight: 600;
  font-size: 44px;
  letter-spacing: -2px;
}

@utility text-2 {
  @apply font-inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0px;
}

@utility text-3 {
  @apply font-inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.3px;
}

@utility text-4 {
  @apply font-inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.3px;
}

@utility text-5 {
  @apply font-inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

@utility text-5-semibold {
  @apply font-inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

@utility text-6 {
  @apply font-inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.3px;
}

@utility text-7 {
  @apply font-inter;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 0px;
}
